version: '3.8'

services:
  bedrock:
    image: itzg/minecraft-bedrock-server
    restart: always
    ports:
      - "19132:19132/udp"
    volumes:
      - ./data:/data
    environment:
      - 'EULA=TRUE'
      - 'LEVEL_SEED=712262452098460' #My suggestion seed X=-1060, Z=925 (wisehosting.com/blod/20-seeds-you-must-try-in-minecraft-1.20)
      - 'GAMEMODE=adventure' # adventure, survival, creative
      - 'DIFFICULTY=normal' #peaceful, easy, normal, hard
      - 'MAX_PLAYERS=20'
      - 'ALLOW_CHEATS=false'

  backup:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./data:/data:ro
      - ./backups:/backups


volumes:
  data:
  backups:

