version: '3.8'

services:
  bedrock:
    image: itzg/minecraft-bedrock-server
    container_name: bedrock_server
    restart: always
    ports:
      - "19132:19132/udp"
    volumes:
      - ./data:/data
    environment:
      - 'EULA=TRUE'
      - 'GAMEMODE=survival'
      - 'DIFFICULTY=normal'

  backup:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: bedrock_backup
    volumes:
      - ./data:/data:ro
      - ./backups:/backups


volumes:
  data:
  backups:

